:root{
  --headingFont: "Poppins";
  --bodyFont: "Muli";
  --backgroundcolor1: #1a1a1a;
  --recycle-width: 70%;
  --garbage-width: 50%;
  --textbumpLessR: 10px;
  --textbumpLessG: 10px;
  --mapIconURL: url('images/mapIcon1.png');
}

  body{
  position: fixed;
  left:0;
  top: 0;
  background-image: url("images/background.png");
  background-repeat:none;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.logo{
  width: 150px;

}

.navbar{
  z-index: 10;
  padding-left: 45%;
  background-color: white;
  border-color: lightgrey;
}

.map-icon{
  position: absolute;
  background-repeat:none;
  background-size:cover;
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}

.map-icon.map-icon-location1{
  background-image: var(--mapIconURL);
  left: 50%;
  margin-top: 20%;
}
.map-icon.map-icon-location2{
  background-image: url("images/mapIcon3.png");
  left: 20%;
  margin-top: 40%;
}
.map-icon.map-icon-location3{
  background-image: url("images/mapIcon2.png");
  left: 80%;
  margin-top: 30%;
}

.modalDesign{
  position: absolute;
  left: 23.5%;
  top: 5%;
  z-index: 10;
  background-image: url("images/modalIcon.png");
  background-size: cover;
  width: 270px;
  height:310px;
}

.rotated {
  margin-top: -3.7%;
  display: inline-block;
  margin-left: 30%;
  width: 40%;
  height: 200px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 9;
}

.rotated {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.modal-body{
  padding-top:18%;
  height: 50vh;
}

.loading-text-recycle{
  position: absolute;
  left: 11%;
  top: 58%;
  font-family: var(--headingFont);
  font-size: 32px;
  color: black;
}

.loading-text-garbage{
  position: absolute;
  right: 10%;
  top: 58%;
  font-family: var(--headingFont);
  font-size: 32px;
  color: black;
}

.recycle-icon{
  position: absolute;
  background-image:url("images/recycle.png");
  background-size:cover;
  width: 70px;
  height: 70px;
  left: 9.5%;
  top: 36%;
}

.garbage-icon{
  position: absolute;
  background-image:url("images/trash.png");
  background-size:cover;
  width: 70px;
  height: 70px;
  right: 9.5%;
  top: 36%;
}

.border-recycle{
  position: absolute;
  bottom: -18%;
  background-color: transparent;
  height: 370px;
  width: 100px;
  border-right: solid 2px black;
  transform: rotate(90deg);
}

.progress-recycle{
  background-color: #4CAF50 !important;
  height: 100px;
  margin-right: 100%;
  width: var(--recycle-width);
}

.progress-garbage{
  background-color: #7B1FA2 !important;
  height: 100px;
  width: var(--garbage-width);
}

.dateTime{
  position: relative;
  color: black;
  font-size: 15px;
  width: 500px;
  height: 20px;
  z-index: 100;
}

.modal{
  margin-top: 5%;
}

.modal-title{
  font-size: 22px !important;
  font-weight: 600;
}
